<div [className]="'filter'">

	<form [formGroup]="filterForm" (ngSubmit)="onSubmit(filterForm.value)">
	 
	  <div>
	    <label for="type">Typ</label>
	    <input id="type" type="text" formControlName="type">
	  </div>
	  <div>
	    <label for="location">Lokalizacja</label>
	    <input id="location" type="text" formControlName="location">
	  </div>
	  <div>
	    <label for="priceFrom">Cenm od</label>
	    <input id="priceFrom" type="text" formControlName="priceFrom">
	  </div>
	  <div>
	    <label for="priceTo">Cena do</label>
	    <input id="priceTo" type="text" formControlName="priceTo">
	  </div>

	  <div>
	    <label for="spaceFrom">Minimum m2</label>
	    <input id="spaceFrom" type="text" formControlName="spaceFrom">
	  </div>
	  <div>
	    <label for="spaceTo">Maximum m2</label>
	    <input id="spaceTo" type="text" formControlName="spaceTo">
	  </div>

	  <div>
	    <label for="markets">Rynek</label>
	    <input id="markets" type="text" formControlName="markets">
	  </div>

	  <div>
	    <label for="page">Strona</label>
	    <input id="page" type="text" formControlName="page">
	  </div>
	 
	  <button class="button" type="submit">Szukaj</button>
	 
	</form>

	Max stron: {{pageLimit}}<br/>
	<p>Oferty:</p>
	  <ul>
	    <li *ngFor="let offer of offers">
	      <p>{{ offer.name }} <strong>{{offer.amount.amount}} {{offer.amount.currency}}</strong></p>
	      <a href="{{offer.url}}">{{offer.url}}</a>
	    </li>
	  </ul>
</div>